.element{
    background: #FFFFFF;
    border-radius: 10px;
    width: 282px;
    min-height: 361px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}