.header {
    margin: 0px;
    padding-left: 200px;
    padding-right: 200px;
    min-height: 74px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    align-items: flex-start;
}

@media (min-width:320px) and (max-width:1280px) {
    .header {
        padding-left: calc((100vw - 320px)/(1280 - 320) * (200 - 19) + 19px);
        padding-right: calc((100vw - 320px)/(1280 - 320) * (200 - 19) + 19px);
        min-height: calc((100vw - 320px)/(1280 - 320) * (74 - 56) + 56px);
    }
}