.profile__info-name{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    padding: 0px;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 530px;
}

@media (min-width:320px) and (max-width:1280px){
    .profile__info-name{
        font-size:calc((100vw - 320px)/(1280 - 320) * (42 - 27) + 27px);
        line-height:calc((100vw - 320px)/(1280 - 320) * (48 - 33) + 33px);
        max-width:calc((100vw - 320px)/(1280 - 320) * (530 - 248) + 248px);
    }
}