.form__input_white{
    color: #000000;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    width: 358px;
}

.form__input_white:first-of-type{
    margin-top: 54px;
}



@media (min-width:320px) and (max-width:1280px){
    .form__input_white{
        width: calc((100vw - 320px)/(1280 - 320) * (358 - 238) + 238px);
    }
}