.header__button-exit {
    color: #A9A9A9;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.header__button-exit:hover {
    opacity: 0.6;
    transition: opacity 0.2s linear;
    cursor: pointer;
}

@media (min-width:320px) and (max-width:1280px) {
    .header__button-exit {
        font-size: calc((100vw - 320px)/(1280 - 320) * (18 - 14) + 14px);
        line-height: calc((100vw - 320px)/(1280 - 320) * (22 - 17) + 17px);
    }
}