.form__save-button_white {
    margin-top: 186px;
}

.form__save-button_white:hover {
    opacity: 0.85;
    transition: opacity 0.2s linear;
    cursor: pointer;
}

@media (min-width:320px) and (max-width:1280px) {
    .form__save-button_white {
        width: calc((100vw - 320px)/(1280 - 320) * (358 - 260) + 260px);
        margin-top: 143px;
    }
}