.profile__avatar-button{
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 120px;
    cursor: pointer;
    background-color: black;
    background-image: url(../../../images/avatar-pen.svg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    outline: none;
}