.profile__edit-button{
    background-image: url(../../../images/Edit-Button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px;
    margin: 0px 16px 0px 16px;
    min-width: 24px;
    height: 24px;
    border: none;
    outline: none;
}

.profile__edit-button:hover{
    opacity: 0.6;
    transition: opacity 0.2s linear;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .profile__edit-button{
        margin: 0px 10px 0px 10px;
        min-width: 16px;
        height: 16px;
    }
}

